html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
    background-color: #e6effc;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #f5ece0;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(155, 159, 161);
  }
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(51, 86, 161);
    text-shadow: 3px 3px 1px rgb(155, 159, 161);
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  button {
    display: block;
    margin: 5px auto;
    color: rgb(51, 86, 161);
    font-size: 15px;
  }
