html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
    background-color: #fff2f7;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #f2ecee;
    padding: 0 20px 20px 20px;
    border: 5px solid #e6c3ce;
  }
h1 {
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #19a596;
    text-shadow: 3px 3px 1px #e6c3ce;
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  button {
    display: block;
    margin: 5px auto;
    color: #19a596;
    font-size: 15px;
  }
